@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Darumadrop One";
  src: url("/fonts/DarumadropOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: "Karla", sans-serif;
  cursor: url("/assets/cursor.svg"), auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

div,
p,
article,
time,
input,
button {
  font-size: 22px;
}

a,
button {
  cursor: url("/assets/cursor.svg"), pointer;
}

input {
  cursor: url("/assets/cursor.svg"), text;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #f9c664 50%);
}
