@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

@font-face {
  font-family: "Darumadrop One";
  src: url("/fonts/DarumadropOne-Regular.ttf") format("truetype");
}

html,
body {
  font-family: "Karla", sans-serif;
  cursor: url("/assets/cursor.svg"), auto;
}

h1,
h2,
h3 {
  font-size: 64px;
}

div,
p,
article,
time,
input,
button {
  font-size: 22px;
}

a,
button {
  cursor: url("/assets/cursor.svg"), pointer;
}

input {
  cursor: url("/assets/cursor.svg"), text;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #f9c664 50%);
}
